body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    
}

.project-card {
    background-color: #333;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.project-title {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.project-description {
    /* position: relative; */
    overflow: hidden;
    max-height: 3em; /* Show only one line */
    margin: 0 0 15px;
    transition: max-height 0.3s ease;
}

.short-description {
    display: block;
}

.full-description {
    display: block;
    opacity: 0;
    visibility: hidden;
}

.project-description.expanded {
    max-height: none; /* Show full description */
}

.project-description.expanded .full-description {
    opacity: 1;
    visibility: visible;
}

.project-buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 25px;
}

